#shadow{
    -webkit-box-shadow: 0px 0px 18px 0px rgba(48, 50, 50, 0.48);
    -moz-box-shadow:    0px 0px 18px 0px rgba(48, 50, 50, 0.48);
    box-shadow:         0px 0px 18px 0px rgba(48, 50, 50, 0.48);		
  	
  	border-radius: 10px;
  	-moz-border-radius: 10px;
		-webkit-border-radius: 10px;  
}

.linea {
	border-bottom: 1px solid #EEE;		 
}